
.col-md-8,
.w-75{
  width:100%!important;
  max-width:100%!important;
}

/* .error {

  display: none;
} */

.register-form .form-control.form-control-lg.col-sm-6{

  display: inline-block;
}
.register-form .label {
  float: left;
 }

 .label-role{
  float:inherit;
  margin-bottom: 0 !important;
 }

 .role{
 float: right;
 }
 #box{
  overflow-x: hidden;
 }