.card {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: 0.55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    opacity: 90%;
}

.container .avatar {
    display: inline-block;
    width: 5%;
    height: 10%;
    position: absolute;
    top: 18%;
    left:36%;
    z-index: 9;
   
}

.container .avatar img {
    width: 100px;
}

.my-profile{
    padding-left: 16%;
}

.updateProfile{
    margin-bottom: -70px;
}
@media (min-width: 768px) {

    .mb-md-5,
    .my-md-5 {
        margin-bottom: 0 !important;
    }

    .mt-md-4,
    .my-md-4 {
        margin-top: 0 !important;
    }

    .pb-5,
    .py-5 {
        padding-bottom: 0 !important;
    }
}

/* .user-profile{
  
} */