
.footer.d-flex.flex-row.justify-content-between.align-items-rig.p-3.bg-white{
    opacity: 51%;
}

.border {
    margin-top: 2%;
}

.create-btn{
    background-color: #49474a;
    text-align: center;
    height: 40px;
}

.footer{
    clear: both;
      position: relative;
      height: 50px;
      margin-top: -110px;
     
  }