

.tests-box {
    opacity: 90%;

    margin-top: 2%;
}

.pricing-header{
    color:aquamarine
}
.quote {
    margin: auto;
    margin-top: 5%;
}
.quote-box{
    /* position: fixed; */
    display: block;
    align-items: center;
    text-align: center;
    text-size-adjust: 200px;
    /* text-decoration-color: white; */
    font-size: 30px;
    font-weight: bold;
    color: black;
  }

  

  
.shareit-title{

  text-align: center;
  font-size: medium;
}
  
